@font-face {
    font-family: "Comfortaa";
    src: url("assets/Comfortaa-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "ComfortaaB";
    src: url("assets/Comfortaa-Bold.ttf") format("truetype");
}

html {
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
}

#canvas {
    position: fixed;
    top: 0;
    left: 0;
}